@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&subset=latin-ext');

*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #345;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    color: #444;
    font-family: 'Space Mono', monospace;
    font-size: 2vw;
}

a {
    color: #fff;
    cursor: pointer;
}

nav {
    z-index: 1;
    position: fixed;
    right: 2vh;
    bottom: 2vw;
    background-color: rgba(0, 0, 0, .5);
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav a {
    display: block;
    padding: .5em 1em;
}

.space {
    perspective: 1400px;
    font-size: 60px;
}

.observer {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    transform-style: preserve-3d;
    transition: transform 1.5s cubic-bezier(0.5, 0.0, 0.5, 1);
    transition-delay: 0s;
    transform: translate3d(0em, 0em, -20em) rotateX(-30deg) rotateY(120deg);
}
.observer.position-1 {
    transform: translate3d(0em, -2em, 0em) rotateX(-15deg) rotateY(10deg);
}
.observer.position-2 {
    transform: translate3d(0em, 2em, 0em) rotateX(-90deg) rotateY(0deg);
}

.tracker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform-style: preserve-3d;
    transition: transform 1.1s cubic-bezier(0.5, 0.0, 0.5, 1);
    /*box-shadow: 0 0 0 .1% rgba(0, 0, 0, 1);*/
}

.laptop.tracker {
    /*
    border-radius: 20px;
    border: 10px solid transparent;
    border-color: hsla(0, 100%, 50%, .7) hsla(180, 100%, 50%, .7) hsla(300, 100%, 50%, .7) transparent;
    margin: -10px;
    */
    transform: rotateY(0deg);
}
.laptop.tracker.open {
    transition-delay: .2s;
    transform: rotateY(0deg);
}

.laptop {
}
.laptop > div {
    position: absolute;
    top: calc(-7em * 10 / 16);
    left: -10em;
    width: 0;
    height: 0;
    transform-style: preserve-3d;
    transform: translateZ(calc(-10em * 10 / 16));
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 20em;
    height: 14em;
    background-clip: content-box;
    border: .1em solid #ccc;    
    border-width: .04em .03em .04em .1em;
    border-radius: .8em;
    transform-style: preserve-3d;
    transform-origin: 50% 100% 0em;
    transition: transform 1.3s cubic-bezier(0.5, 0.0, 0.5, 1);
    transform: translateY(0em) rotateX(-90deg);
    backface-visibility: hidden;
}
.laptop.open .screen {
    transform: rotateX(10deg);
}
.screen .backface {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #bfbfbf 0%, #c6c6c6 8%, #c6c6c6 92%, #e6e6e6 100%), linear-gradient(0deg, #e6e6e6 0%, #c6c6c6 calc(8% * 16 / 10), #c6c6c6 calc(100% - 8% * 16 / 10), #bfbfbf 100%);
    background-blend-mode: lighten;
    border-right: .1em solid #bbb;
    border-radius: .8em;
    transform: translateZ(-.6mm) rotateY(180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.screen .backface::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15%;
    height: 20%;
    background-image: url(../img/apple.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;    
    transform: translate3d(-50%, -50%, 0);
    backface-visibility: hidden;
}
.screen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: .8em;
    background-image: linear-gradient(105deg,rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, .3) 25%, rgba(255, 255, 255, .3) 30%, rgba(255, 255, 255, 0) 35%);
}

.unibody {
    position: absolute;
    top: 0;
    left: 0;
    width: 20em;
    height: 14em;
    background-color: #ccc;
    border-radius: .8em;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    transform: rotateX(90deg) translateY(100%);
    backface-visibility: hidden;
}
.keyboard {
    position: absolute;
    top: 1.7cm;
    left: 50%;
    padding: 3mm;
    box-shadow: 0 0 10mm rgba(255, 255, 255, .3) inset, 0 0 5mm rgba(0, 0, 0, .2) inset;
    border: .1mm solid rgba(0, 0, 0, .1);
    border-radius: 3mm;
    font-size: 5mm;
    font-family: "San Francisco Display", Helvetica, sans-serif;
    transform: translate3d(-50%, 0, .5mm);
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.keyboard .row {
    display: flex;
    justify-content: space-between;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.keyboard .row:first-child .key {
    height: .9cm;
    font-size: 50%;
}
.keyboard .row:last-child .key {
    height: 1.9cm;
}
.keyboard .row > .key {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.55cm;
    height: 1.55cm;
    margin: .15cm;
    padding: 0 .2cm;
    background-color: #222;
    color: #fff;
    border-bottom: .1cm solid #333;
    border-left: .05cm solid #444;
    border-radius: .15cm;
    box-shadow: 0.01cm -0.02cm 0 0 rgba(255, 255, 255,.5) inset;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.keyboard .row > .medium {
    width: calc(1.55cm * 6.3 / 5);
}
.keyboard .row > .wide {
    width: calc(1.55cm * 8 / 5);
}
.keyboard .row > .wider {
    width: calc(1.55cm * 9.5 / 5);
}
.keyboard .row > .widest {
    width: calc(1.55cm * 13 / 5);
}
.keyboard .row > .spacekey {
    width: 9.2cm;
}
.keyboard .row > .left {
    align-items: flex-start;
}
.keyboard .row > .right {
    align-items: flex-end;
}
.keyboard .row > .return :first-child {
    font-size: 80%;
}
.keyboard .row > .text {
    justify-content: space-around;
    font-size: 70%;
}
.keyboard .row > .text :not(:last-child) {
    font-size: 80%;
}

.trackpad {
    position: absolute;
    width: 10.3cm;
    height: 7.4cm;
    bottom: 0;
    left: 10.5cm;
    background-color: #ccc;
    border: .5mm solid #999;
    border-radius: 3mm;
    box-shadow: 0 0.5mm 0.5mm rgba(0, 0, 0, .2) inset;
}

.screen iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1em solid #222;
    border-width: 1em .6em;
    border-radius: .8em;
    backface-visibility: hidden;
    
}

.ft-logo {
    top: 50%;
    left: 50%;
    transform: scale3d(.3, .3, .3) translateZ(200px);
}

@keyframes wiggle {
    from {
        transform: rotateX(-10deg) rotateY(40deg);
        transform: rotateY(40deg);
    }
    to {
        transform: rotateX(-10deg) rotateY(15deg);
        transform: rotateY(15deg);
    }
}

#cube {
    display: none;
    position: absolute;
    top: -100px;
    left: -100px;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation-name: wiggle;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.5, 0.0, 0.5, 1);
    animation-fill-mode: both;
}

#cube > div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 0;
    background-color: rgba(255, 255, 255, .7);
    background-image: url(../img/ft.svg);
    background-position: center;
    background-size: 80px;
    background-repeat: no-repeat;
    background-clip: content-box;
    border: 2px solid rgba(242, 48, 113, .7);
}

#cube.panels-backface-invisible > div {
    backface-visibility: hidden;
}

#cube .front  {
    transform: translateZ( 100px );
}
#cube .back   {
    transform: rotateY( 180deg ) translateZ( 100px );
}
#cube .right {
    transform: rotateY(   90deg ) translateZ( 100px );
}
#cube .left {
    transform: rotateY(  -90deg ) translateZ( 100px );
}
#cube .top {
    transform: rotateX(   90deg ) translateZ( 100px );
}
#cube .bottom {
    transform: rotateX(  -90deg ) translateZ( 100px );
}

#cube.show-front {
    transform: translateZ( -100px );
}
#cube.show-back {
    transform: translateZ( -100px ) rotateX( -180deg );
}
#cube.show-right {
    transform: translateZ( -100px ) rotateY(  -90deg );
}
#cube.show-left {
    transform: translateZ( -100px ) rotateY(   90deg );
}
#cube.show-top {
    transform: translateZ( -100px ) rotateX(  -90deg );
}
#cube.show-bottom {
    transform: translateZ( -100px ) rotateX(   90deg );
}
